
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.uka
{
    width: 1200px;
    height: 600px;
border: 5px solid black;
margin: 50px auto;
background: url("./izzatbek.jpg" ) no-repeat center /cover;
}




