
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.uka
{
    width: 1200px;
    height: auto;
border-radius: 25px;
box-shadow: 0 0 50px blue;
border: 5px solid black;
margin: 50px auto;
background: url("./Paris.png" ) no-repeat center /cover;
}

.navbar
{
    width: 400px;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0);
<<<<<<< HEAD
margin-top: 70px;
=======
    padding: 50px;
    flex-wrap: wrap;
    border: 5px solid black;
    justify-content: center;
    align-items: center;

>>>>>>> 8238b066a799428fcf2632554a4c659fa37ed694
}
.c5
{
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}
.v1
{
    margin-left: 70px;
    gap: 15px;
    display: flex;
}

.c6
{
    
    font-size: 35px;
    font-family: sans-serif;
    color: rgb(51, 8, 247);
}
p
{
    font-size: 20px;
    color: white;
}

button
{
    width: 250px;
    height: 50px;
    background-color: rgb(67, 67, 255);
    color: white;
    border-radius: 10px;
}
.footer
{
width: 100%;
height: 300px;
display: flex;
gap: 100px;
}
.footer,.kun
{
    font-size: 50px;
    color: rgb(236, 202, 7);
    margin-left: 150px;
    margin-top: 50px;


}
h1,h2
{
    margin-top: 15px;
    font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
}
.footer,.k
{
    font-size: 50px;
    color: rgb(236, 202, 7);
}
.c1,.c2,.c3,.c4
{
width: 150px;
height: auto

}
